In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('C:/Users/TALABI/Desktop/Sanddata.csv', header=0)

In [3]:
pwd

'C:\\Users\\TALABI\\Desktop\\Others\\4. ST Academy - SVM resource files\\Python Code'

In [4]:
df.head()

,Vsl,Dpipe m,"particle, m","rhos, kg/m3",Cv [v/v],"rhol, kg/m3",visco Pa.s,theta,Vc m/s
0,0.425852,0.0254,0.000144,2650,0.0020,1000,0.001,0,0.425
1,0.477387,0.0254,0.000144,2650,0.0050,1000,0.001,0,0.475
2,0.528967,0.0254,0.000144,2650,0.0075,1000,0.001,0,0.525
3,0.757576,0.0254,0.000144,2650,0.0100,1000,0.001,0,0.750
4,1.105263,0.0254,0.000144,2650,0.0500,1000,0.001,0,1.050

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 182 entries, 0 to 181
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Vsl          182 non-null    float64
 1   Dpipe m      182 non-null    float64
 2   particle, m  182 non-null    float64
 3   rhos, kg/m3  182 non-null    int64
 4   Cv [v/v]     182 non-null    float64
 5   rhol, kg/m3  182 non-null    int64
 6   visco Pa.s   182 non-null    float64
 7   theta        182 non-null    int64
 8   Vc m/s       182 non-null    float64
dtypes: float64(6), int64(3)
memory usage: 12.9 KB

In [6]:
df.describe()

,Vsl,Dpipe m,"particle, m","rhos, kg/m3",Cv [v/v],"rhol, kg/m3",visco Pa.s,theta,Vc m/s
count,182.000000,182.000000,182.000000,182.0,182.000000,182.000000,182.000000,182.000000,182.000000
mean,2.117932,0.100145,0.000369,2650.0,0.120112,992.401099,0.001291,4.510989,1.636426
std,1.805176,0.090519,0.000370,0.0,0.142724,75.576887,0.002350,11.365713,1.009161
min,0.070008,0.009398,0.000100,2650.0,0.000020,3.000000,0.001000,-25.000000,0.070000
25%,0.798506,0.050800,0.000200,2650.0,0.010000,1000.000000,0.001000,0.000000,0.765092
50%,1.521253,0.100000,0.000360,2650.0,0.100000,1000.000000,0.001000,0.000000,1.433610
75%,2.989264,0.100000,0.000360,2650.0,0.120000,1000.000000,0.001000,10.000000,2.497937
max,8.371575,0.701040,0.003700,2650.0,0.600000,1000.000000,0.027000,30.000000,4.400000

### Missing Value Imputation

In [205]:
df['Vsl'].mean()

2.117932043423076

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 182 entries, 0 to 181
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Vsl          182 non-null    float64
 1   Dpipe m      182 non-null    float64
 2   particle, m  182 non-null    float64
 3   rhos, kg/m3  182 non-null    int64
 4   Cv [v/v]     182 non-null    float64
 5   rhol, kg/m3  182 non-null    int64
 6   visco Pa.s   182 non-null    float64
 7   theta        182 non-null    int64
 8   Vc m/s       182 non-null    float64
dtypes: float64(6), int64(3)
memory usage: 12.9 KB

### Dummy Variable Creation

In [9]:
df.head()

,Vsl,Dpipe m,"particle, m","rhos, kg/m3",Cv [v/v],"rhol, kg/m3",visco Pa.s,theta,Vc m/s
0,0.425852,0.0254,0.000144,2650,0.0020,1000,0.001,0,0.425
1,0.477387,0.0254,0.000144,2650,0.0050,1000,0.001,0,0.475
2,0.528967,0.0254,0.000144,2650,0.0075,1000,0.001,0,0.525
3,0.757576,0.0254,0.000144,2650,0.0100,1000,0.001,0,0.750
4,1.105263,0.0254,0.000144,2650,0.0500,1000,0.001,0,1.050

In [18]:
del df['new_column']

In [19]:
df = pd.get_dummies(df,drop_first = True)

In [20]:
df.head()

,Vsl,Dpipe m,"particle, m","rhos, kg/m3",Cv [v/v],"rhol, kg/m3",visco Pa.s,theta,Vc m/s
0,0.425852,0.0254,0.000144,2650,0.0020,1000,0.001,0,0.425
1,0.477387,0.0254,0.000144,2650,0.0050,1000,0.001,0,0.475
2,0.528967,0.0254,0.000144,2650,0.0075,1000,0.001,0,0.525
3,0.757576,0.0254,0.000144,2650,0.0100,1000,0.001,0,0.750
4,1.105263,0.0254,0.000144,2650,0.0500,1000,0.001,0,1.050

### X-y split

In [7]:
X = df.iloc[:,df.columns != 'Vc m/s']
type(X)

pandas.core.frame.DataFrame

In [8]:
X.head()

,Vsl,Dpipe m,"particle, m","rhos, kg/m3",Cv [v/v],"rhol, kg/m3",visco Pa.s,theta
0,0.425852,0.0254,0.000144,2650,0.0020,1000,0.001,0
1,0.477387,0.0254,0.000144,2650,0.0050,1000,0.001,0
2,0.528967,0.0254,0.000144,2650,0.0075,1000,0.001,0
3,0.757576,0.0254,0.000144,2650,0.0100,1000,0.001,0
4,1.105263,0.0254,0.000144,2650,0.0500,1000,0.001,0

In [9]:
X.shape

(182, 8)

In [10]:
y = df['Vc m/s']
type(y)

pandas.core.series.Series

In [69]:
y.head()

0    0.425
1    0.475
2    0.525
3    0.750
4    1.050
Name: Vc m/s, dtype: float64

In [11]:
y.shape

(182,)

### Test-Train Split

In [12]:
from sklearn.preprocessing import StandardScaler

In [38]:
sc = StandardScaler().fit(X)
X_scaled = sc.transform(X)
X_test_std =sc.transform(X)

In [39]:
from sklearn.model_selection import train_test_split

In [40]:
X_train, X_test, y_train, y_test = train_test_split(X_scaled,y, test_size= 0.20, random_state= 42)

In [41]:
X_train.shape

(145, 8)

In [42]:
X_test.shape

(37, 8)

In [43]:
y_test.shape

(37,)

In [57]:
X_scaled.shape

(182, 8)

### Grid Search

In [41]:
from sklearn.model_selection import GridSearchCV

In [42]:
params = {'C':(0.001,0.005,0.01,0.05, 0.1, 0.5, 1, 5, 10, 50,100,500,1000)}

In [43]:
clf_svm_l = svm.SVC(kernel='linear')

In [44]:
svm_grid_lin = GridSearchCV(clf_svm_l, params, n_jobs=-1,
                            cv=10, verbose=1, scoring='accuracy')

In [45]:
svm_grid_lin.fit(X_train_std, y_train)

Fitting 10 folds for each of 13 candidates, totalling 130 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:  1.6min
[Parallel(n_jobs=-1)]: Done 130 out of 130 | elapsed:  2.7min finished
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:841: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

GridSearchCV(cv=10, error_score='raise-deprecating',
       estimator=SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='linear', max_iter=-1, probability=False, random_state=None,
  shrinking=True, tol=0.001, verbose=False),
       fit_params=None, iid='warn', n_jobs=-1,
       param_grid={'C': (0.001, 0.005, 0.01, 0.05, 0.1, 0.5, 1, 5, 10, 50, 100, 500, 1000)},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='accuracy', verbose=1)

In [46]:
svm_grid_lin.best_params_

{'C': 0.5}

In [47]:
linsvm_clf = svm_grid_lin.best_estimator_

In [48]:
accuracy_score(y_test, linsvm_clf.predict(X_test_std))

0.5980392156862745

### Polynomial

In [49]:
clf_svm_p3 = svm.SVC(kernel='poly', degree=2, C=0.1)
clf_svm_p3.fit(X_train_std, y_train)

SVC(C=0.1, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=2, gamma='auto_deprecated',
  kernel='poly', max_iter=-1, probability=False, random_state=None,
  shrinking=True, tol=0.001, verbose=False)

In [50]:
y_train_pred = clf_svm_p3.predict(X_train_std)
y_test_pred = clf_svm_p3.predict(X_test_std)

In [51]:
accuracy_score(y_test, y_test_pred)

0.5588235294117647

### Radial

In [53]:
clf_svm_r = svm.SVC(kernel='rbf', gamma=0.5, C=10)
clf_svm_r.fit(X_train_std, y_train)

SVC(C=10, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma=0.5, kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [54]:
y_train_pred = clf_svm_r.predict(X_train_std)
y_test_pred = clf_svm_r.predict(X_test_std)

In [55]:
accuracy_score(y_test, y_test_pred)

0.6176470588235294

In [ ]:
clf_svm_r.n_support_

### Radial Grid

In [56]:
params = {'C':(0.01,0.05, 0.1, 0.5, 1, 5, 10, 50), 
          'gamma':(0.001, 0.01, 0.1, 0.5, 1)}

In [57]:
clf_svm_r = svm.SVC(kernel='rbf')

In [58]:
svm_grid_rad = GridSearchCV(clf_svm_r, params, n_jobs=-1,
                            cv=3, verbose=1, scoring='accuracy')

In [59]:
svm_grid_rad.fit(X_train_std, y_train)

Fitting 3 folds for each of 40 candidates, totalling 120 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:   54.7s
[Parallel(n_jobs=-1)]: Done 120 out of 120 | elapsed:   55.6s finished
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:841: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

GridSearchCV(cv=3, error_score='raise-deprecating',
       estimator=SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='rbf', max_iter=-1, probability=False, random_state=None,
  shrinking=True, tol=0.001, verbose=False),
       fit_params=None, iid='warn', n_jobs=-1,
       param_grid={'C': (0.01, 0.05, 0.1, 0.5, 1, 5, 10, 50), 'gamma': (0.001, 0.01, 0.1, 0.5, 1)},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='accuracy', verbose=1)

In [60]:
svm_grid_rad.best_params_

{'C': 50, 'gamma': 0.001}

In [61]:
radsvm_clf = svm_grid_rad.best_estimator_

In [62]:
accuracy_score(y_test, radsvm_clf.predict(X_test_std))

0.6176470588235294